html, body {
  height:100%; 
  width: 100%;
}

/* image gallery */
#image-div {
margin-top: 5%;
}

.toddler-image {
    /* background-color:rgba(104, 107, 107, 0.363); */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-radius: 4px;
    padding: 12px 10px; 
    background-color: orange;
    overflow-y:scroll; 
    margin-left: 13%;
    width:75%; 
    height:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  


}

#image-htwo {
  background-color: white;
  background-size:10%;
  margin:top;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
}

/* navigation */
nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 20px;
  background-color: orange;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background: white;
  color: black;
}


/* welcome */
#welcome, .welcome {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:500 ;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  width: 35%; 
  margin: auto;
  margin-top: 25px;
  padding: 12px 20px;
  border: 2px solid #0b2742;    
}

#welcome{
  margin-top: 8%;
}

.welcome {
  background-color: rgb(255, 166, 0);
  font-weight:700 ;

}

#underline {
  font-weight:600;

}

/* form */
 #form {
  background-color: rgb(255, 166, 0);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  text-align: center;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:500 ;
  margin-top: 100px;
  padding: 12px 20px;
  border: 2px solid #0b2742; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 40%;  
}

#form-input {
  background-color: #ffffff;
  cursor: text;
  font-size: 15px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  
}

#form-submit {
  background-color: yellow ;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

/* table */
#toddler-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 25px;
  background-color: rgb(255, 166, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  border: 1px solid #0b2742;   

}

#table-list {
  margin-top: 5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 15%;
  margin: auto;
  margin-top: 25px;
  background-color: rgb(255, 166, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  border: 1px solid #0b2742;   
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  background-color: #ffffff;
}

#form-return {
  background-color: orange ;
    color: azure;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 43.25%;
    margin-top: 2%;
    /* font-size: large; */
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  

}

#form-return a:link {
  color: azure;
  background-color: transparent;
  text-decoration: none;
  
}

#form-return a:visited {
  color: azure;
  background-color: transparent;
  text-decoration: none;
}

#form-return a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

#button {
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;   

}

#directory {
  background-color: #ffffff;
  cursor: text;
  font-size: 16px;
text-align: center;}

#directory-input {
  background-color: #ffffff;
  cursor: text;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 50px; 


}









